<a href="https://colab.research.google.com/github/dordoran/Tugas-Data-Mining/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn import tree

In [ ]:
irisDataset = pd.read_csv('edit.csv', delimiter=',',header=0)

In [ ]:
irisDataset.head()

   Id  SepalLengthCm  ...  PetalWidthCm          Species
0   1           7.00  ...          1.04  Iris-versicolor
1   2           6.04  ...          1.05  Iris-versicolor
2   3           6.09  ...          1.05  Iris-versicolor
3   4           5.05  ...          1.03  Iris-versicolor
4   5           6.05  ...          1.05  Iris-versicolor

[5 rows x 6 columns]

In [ ]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [ ]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           7.00          3.02           4.07          1.04        0
1   2           6.04          3.02           4.05          1.05        0
2   3           6.09          3.01           4.09          1.05        0
3   4           5.05          2.03           4.00          1.03        0
4   5           6.05          2.08           4.06          1.05        0

In [ ]:
print(irisDataset)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    1           7.00          3.02           4.07          1.04        0
1    2           6.04          3.02           4.05          1.05        0
2    3           6.09          3.01           4.09          1.05        0
3    4           5.05          2.03           4.00          1.03        0
4    5           6.05          2.08           4.06          1.05        0
5    6           5.07          2.08           4.05          1.03        0
6    7           6.03          3.03           4.07          1.06        0
7    8           4.09          2.04           3.03          1.00        0
8    9           6.06          2.09           4.06          1.03        0
9   10           5.02          2.07           3.09          1.04        0
10  11           5.00          2.00           3.05          1.00        0
11  12           5.09          3.00           4.02          1.05        0
12  13           6.00          2.02           4.00          1.00        0
13  14           6.01          2.09           4.07          1.04        0
14  15           5.06          2.09           3.06          1.03        0
15  16           6.07          3.01           4.04          1.04        0
16  17           5.06          3.00           4.05          1.05        0
17  18           5.08          2.07           4.01          1.00        0
18  19           6.02          2.02           4.05          1.05        0
19  20           5.06          2.05           3.09          1.01        0
20  21           5.09          3.02           4.08          1.08        0
21  22           6.01          2.08           4.00          1.03        0
22  23           6.03          2.05           4.09          1.05        0
23  24           6.01          2.08           4.07          1.02        0
24  25           6.04          2.09           4.03          1.03        0
25  26           6.06          3.00           4.04          1.04        0
26  27           6.08          2.08           4.08          1.04        0
27  28           6.07          3.00           5.00          1.07        0
28  29           6.00          2.09           4.05          1.05        0
29  30           5.07          2.06           3.05          1.00        0
30  31           5.05          2.04           3.08          1.01        0
31  32           5.05          2.04           3.07          1.00        0
32  33           5.08          2.07           3.09          1.02        0
33  34           6.00          2.07           5.01          1.06        0
34  35           5.04          3.00           4.05          1.05        0
35  36           6.00          3.04           4.05          1.06        0
36  37           6.07          3.01           4.07          1.05        0
37  38           6.03          2.03           4.04          1.03        0
38  39           5.06          3.00           4.01          1.03        0
39  40           5.05          2.05           4.00          1.03        0
40  41           5.05          2.06           4.04          1.02        0
41  42           6.01          3.00           4.06          1.04        0
42  43           5.08          2.06           4.00          1.02        0
43  44           5.00          2.03           3.03          1.00        0
44  45           5.06          2.07           4.02          1.03        0
45  46           5.07          3.00           4.02          1.02        0
46  47           5.07          2.09           4.02          1.03        0
47  48           6.02          2.09           4.03          1.03        0
48  49           5.01          2.05           3.00          1.01        0
49  50           5.07          2.08           4.01          1.03        0

In [ ]:
irisDataset = irisDataset.drop(labels="Id",axis=1)

In [ ]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          3.02           4.07          1.04        0
1            6.04          3.02           4.05          1.05        0
2            6.09          3.01           4.09          1.05        0
3            5.05          2.03           4.00          1.03        0
4            6.05          2.08           4.06          1.05        0
5            5.07          2.08           4.05          1.03        0
6            6.03          3.03           4.07          1.06        0
7            4.09          2.04           3.03          1.00        0
8            6.06          2.09           4.06          1.03        0
9            5.02          2.07           3.09          1.04        0
10           5.00          2.00           3.05          1.00        0
11           5.09          3.00           4.02          1.05        0
12           6.00          2.02           4.00          1.00        0
13           6.01          2.09           4.07          1.04        0
14           5.06          2.09           3.06          1.03        0
15           6.07          3.01           4.04          1.04        0
16           5.06          3.00           4.05          1.05        0
17           5.08          2.07           4.01          1.00        0
18           6.02          2.02           4.05          1.05        0
19           5.06          2.05           3.09          1.01        0
20           5.09          3.02           4.08          1.08        0
21           6.01          2.08           4.00          1.03        0
22           6.03          2.05           4.09          1.05        0
23           6.01          2.08           4.07          1.02        0
24           6.04          2.09           4.03          1.03        0
25           6.06          3.00           4.04          1.04        0
26           6.08          2.08           4.08          1.04        0
27           6.07          3.00           5.00          1.07        0
28           6.00          2.09           4.05          1.05        0
29           5.07          2.06           3.05          1.00        0
30           5.05          2.04           3.08          1.01        0
31           5.05          2.04           3.07          1.00        0
32           5.08          2.07           3.09          1.02        0
33           6.00          2.07           5.01          1.06        0
34           5.04          3.00           4.05          1.05        0
35           6.00          3.04           4.05          1.06        0
36           6.07          3.01           4.07          1.05        0
37           6.03          2.03           4.04          1.03        0
38           5.06          3.00           4.01          1.03        0
39           5.05          2.05           4.00          1.03        0
40           5.05          2.06           4.04          1.02        0
41           6.01          3.00           4.06          1.04        0
42           5.08          2.06           4.00          1.02        0
43           5.00          2.03           3.03          1.00        0
44           5.06          2.07           4.02          1.03        0
45           5.07          3.00           4.02          1.02        0
46           5.07          2.09           4.02          1.03        0
47           6.02          2.09           4.03          1.03        0
48           5.01          2.05           3.00          1.01        0
49           5.07          2.08           4.01          1.03        0

In [ ]:
irisDataset = irisDataset.to_numpy()

In [ ]:
print(irisDataset)

[[7.   3.02 4.07 1.04 0.  ]
 [6.04 3.02 4.05 1.05 0.  ]
 [6.09 3.01 4.09 1.05 0.  ]
 [5.05 2.03 4.   1.03 0.  ]
 [6.05 2.08 4.06 1.05 0.  ]
 [5.07 2.08 4.05 1.03 0.  ]
 [6.03 3.03 4.07 1.06 0.  ]
 [4.09 2.04 3.03 1.   0.  ]
 [6.06 2.09 4.06 1.03 0.  ]
 [5.02 2.07 3.09 1.04 0.  ]
 [5.   2.   3.05 1.   0.  ]
 [5.09 3.   4.02 1.05 0.  ]
 [6.   2.02 4.   1.   0.  ]
 [6.01 2.09 4.07 1.04 0.  ]
 [5.06 2.09 3.06 1.03 0.  ]
 [6.07 3.01 4.04 1.04 0.  ]
 [5.06 3.   4.05 1.05 0.  ]
 [5.08 2.07 4.01 1.   0.  ]
 [6.02 2.02 4.05 1.05 0.  ]
 [5.06 2.05 3.09 1.01 0.  ]
 [5.09 3.02 4.08 1.08 0.  ]
 [6.01 2.08 4.   1.03 0.  ]
 [6.03 2.05 4.09 1.05 0.  ]
 [6.01 2.08 4.07 1.02 0.  ]
 [6.04 2.09 4.03 1.03 0.  ]
 [6.06 3.   4.04 1.04 0.  ]
 [6.08 2.08 4.08 1.04 0.  ]
 [6.07 3.   5.   1.07 0.  ]
 [6.   2.09 4.05 1.05 0.  ]
 [5.07 2.06 3.05 1.   0.  ]
 [5.05 2.04 3.08 1.01 0.  ]
 [5.05 2.04 3.07 1.   0.  ]
 [5.08 2.07 3.09 1.02 0.  ]
 [6.   2.07 5.01 1.06 0.  ]
 [5.04 3.   4.05 1.05 0.  ]
 [6.   3.04 4.05 1.06 0.  ]
 [6.07 3.01 4.07 1.05 0.  ]
 [6.03 2.03 4.04 1.03 0.  ]
 [5.06 3.   4.01 1.03 0.  ]
 [5.05 2.05 4.   1.03 0.  ]
 [5.05 2.06 4.04 1.02 0.  ]
 [6.01 3.   4.06 1.04 0.  ]
 [5.08 2.06 4.   1.02 0.  ]
 [5.   2.03 3.03 1.   0.  ]
 [5.06 2.07 4.02 1.03 0.  ]
 [5.07 3.   4.02 1.02 0.  ]
 [5.07 2.09 4.02 1.03 0.  ]
 [6.02 2.09 4.03 1.03 0.  ]
 [5.01 2.05 3.   1.01 0.  ]
 [5.07 2.08 4.01 1.03 0.  ]]

In [ ]:
dataTraining = np.concatenate((irisDataset[0:20, :], irisDataset[30:40, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[20:30, :], irisDataset[40:50, :]),
                              axis=0)

In [ ]:
print(dataTraining)
len(dataTraining)

[[7.   3.02 4.07 1.04 0.  ]
 [6.04 3.02 4.05 1.05 0.  ]
 [6.09 3.01 4.09 1.05 0.  ]
 [5.05 2.03 4.   1.03 0.  ]
 [6.05 2.08 4.06 1.05 0.  ]
 [5.07 2.08 4.05 1.03 0.  ]
 [6.03 3.03 4.07 1.06 0.  ]
 [4.09 2.04 3.03 1.   0.  ]
 [6.06 2.09 4.06 1.03 0.  ]
 [5.02 2.07 3.09 1.04 0.  ]
 [5.   2.   3.05 1.   0.  ]
 [5.09 3.   4.02 1.05 0.  ]
 [6.   2.02 4.   1.   0.  ]
 [6.01 2.09 4.07 1.04 0.  ]
 [5.06 2.09 3.06 1.03 0.  ]
 [6.07 3.01 4.04 1.04 0.  ]
 [5.06 3.   4.05 1.05 0.  ]
 [5.08 2.07 4.01 1.   0.  ]
 [6.02 2.02 4.05 1.05 0.  ]
 [5.06 2.05 3.09 1.01 0.  ]
 [5.05 2.04 3.08 1.01 0.  ]
 [5.05 2.04 3.07 1.   0.  ]
 [5.08 2.07 3.09 1.02 0.  ]
 [6.   2.07 5.01 1.06 0.  ]
 [5.04 3.   4.05 1.05 0.  ]
 [6.   3.04 4.05 1.06 0.  ]
 [6.07 3.01 4.07 1.05 0.  ]
 [6.03 2.03 4.04 1.03 0.  ]
 [5.06 3.   4.01 1.03 0.  ]
 [5.05 2.05 4.   1.03 0.  ]]

30

In [ ]:
print(dataTesting)
len(dataTesting)

[[5.09 3.02 4.08 1.08 0.  ]
 [6.01 2.08 4.   1.03 0.  ]
 [6.03 2.05 4.09 1.05 0.  ]
 [6.01 2.08 4.07 1.02 0.  ]
 [6.04 2.09 4.03 1.03 0.  ]
 [6.06 3.   4.04 1.04 0.  ]
 [6.08 2.08 4.08 1.04 0.  ]
 [6.07 3.   5.   1.07 0.  ]
 [6.   2.09 4.05 1.05 0.  ]
 [5.07 2.06 3.05 1.   0.  ]
 [5.05 2.06 4.04 1.02 0.  ]
 [6.01 3.   4.06 1.04 0.  ]
 [5.08 2.06 4.   1.02 0.  ]
 [5.   2.03 3.03 1.   0.  ]
 [5.06 2.07 4.02 1.03 0.  ]
 [5.07 3.   4.02 1.02 0.  ]
 [5.07 2.09 4.02 1.03 0.  ]
 [6.02 2.09 4.03 1.03 0.  ]
 [5.01 2.05 3.   1.01 0.  ]
 [5.07 2.08 4.01 1.03 0.  ]]

20

In [ ]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0.]

30

In [ ]:
model = tree.DecisionTreeClassifier()

In [ ]:
model = model.fit(inputTraining, labelTraining)

In [ ]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ",labelTesting)
print("Hasil Prediksi : ",hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("prediksi Benar :", prediksiBenar, "data")
print("prediksi Salah :", prediksiSalah, "data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah)*100,"%")

prediksi Benar : 20 data
prediksi Salah : 0 data
Akurasi :  100.0 %